<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALCaycmPNves3EcObL8ZHrDpkx2ZxifXU</string>
	<key>GCM_SENDER_ID</key>
	<string>126039075348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coreNot.Lovly-Kids</string>
	<key>PROJECT_ID</key>
	<string>messanger-8c488</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-8c488.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126039075348:ios:45cbf30f38413a7e295501</string>
</dict>
</plist>